/* Source CSS: https://github.com/spyrales/gouvdown */
/* Police: https://gouvfr.atlassian.net/wiki/spaces/DB/pages/223019527/Typographie+-+Typography#Utilisation-des-typographies */

@font-face {
    font-family: 'Marianne';
    font-weight: 300;
    font-display: swap;
    src: local('Marianne Light'), local('Marianne-Light'),
       url('../fonts/marianne/Marianne-Light.woff2') format('woff2'),
       url('../fonts/marianne/Marianne-Light.woff') format('woff');
}

@font-face {
    font-family: 'Marianne';
    font-weight: 400;
    font-display: swap;
    src: local('Marianne Regular'), local('Marianne-Regular'),
       url('../fonts/marianne/Marianne-Regular.woff2') format('woff2'),
       url('../fonts/marianne/Marianne-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Marianne';
    font-weight: 700;
    font-display: swap;
    src: local('Marianne Bold'), local('Marianne-Bold'),
       url('../fonts/marianne/Marianne-Bold.woff2') format('woff2'),
       url('../fonts/marianne/Marianne-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Marianne';
    font-weight: 800;
    font-display: swap;
    src: local('Marianne ExtraBold'), local('Marianne-ExtraBold'),
       url('../fonts/marianne/Marianne-ExtraBold.woff2') format('woff2'),
       url('../fonts/marianne/Marianne-ExtraBold.woff') format('woff');
}



body {
  font-family: Marianne;
  font-size: 16px;
}
.leaflet-container, .info {
  font: 16px "Marianne" !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #172B4D;
}
h1, h2 {
  font-weight: bold;
}

p {
  text-align: justify;
}
